.section {
  width: 100%;
  background: #f5f5f5;
  padding: 80px 0;
}

.container {
  max-width: 1440px;
  height: 267px;
  margin: 0 auto;
  padding: 0 64px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #000;
}

#contact{
    color: #000;
}

.section :global(a),
.section :global(button) {
  background: #000;
  color: #fff;
  border-color: #000;
}


.body {
  font-size: 15px;
  line-height: 1.6;
  color: #555;
  max-width: 520px;
  margin-bottom: 24px;
}

@media (max-width: 768px) {
  .section {
    padding: 64px 0;
  }

  .container {
    height: auto; /* let content define height */
    padding: 0 24px;
  }

  .heading {
    font-size: 28px;
  }

  .body {
    font-size: 14px;
    margin-bottom: 20px;
  }
}