.button {
  width: 215px;
  height: 48px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  background: transparent;

  border: 2px solid #f5f5f5;
  border-radius: 8px;

  color: #f5f5f5;
  font-size: 14px;
  font-weight: 400;

  cursor: pointer;
}

.button:hover {
  background: #f5f5f5;
  color: #000;
}
